################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ExampleProject/ExampleProject/bin/Debug/netcoreapp2.0
/ExampleProject/ExampleProject/obj
/ExampleProject/.vs/ExampleProject/v15
